<body>

    <button onclick="window.location.reload()">Run Program</button>

    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py.');
        term.writeln('');
        term.writeln('Reload page if Tenam did not start running!');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
    <div id="app-info">
        <ul>
            <p>
                The current iteration of Tenam fetches and post dummy data to Google Sheets for the following:
            </p>
            <li>Assets</li>
            <li>Transactions</li>
            <li>Data Analysis</li>    
            <li>Taxation</li>

            <p>
                It dynamically processes the following:
            </p>
            <li>Taxation update</li>
            <li>RSS News</li>
            <li>Tax Analysis (after tax update)</li>
        </ul>
    </div>
</body>