<body>
    <!-- Vendor Script for crypto prices-->
    <div id="crypto-widget" class="cryptohopper-web-widget" data-id="2" data-price_format="2"
        data-coins="bitcoin,ethereum,bnb,cardano,solana" data-numcoins="5" data-realtime="on" data-ticker_speed="80">
    </div>
    <div>
        <h1>TENAM</h1>
        <h1>Crypto</h1>
        <h1>Portfolio Tracker</h1>
    </div>
    <button onclick="window.location.reload()">Run Program</button>

    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py.');
        term.writeln('');
        term.writeln('Reload page if Tenam did not start running!');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>

    <!-- Author's code to inform users about the app scope-->
    <!-- Remember that <p> cannot be child of ul for semantic purposes-->
    <div id="app-info">
        <p>
            The current iteration of Tenam fetches and posts dummy data to Google Sheets for the following:
        </p>
        <ul>
            <li>Assets</li>
            <li>Transactions</li>
            <li>Data Analysis</li>
            <li>Taxation</li>
        </ul>

        <p>
            It dynamically processes the following:
        </p>
        <ul>
            <li>Taxation update</li>
            <li>Tax Analysis</li>
            <li>Profit foresight</li>
            <li>Profit feedback</li>
            <li>RSS News</li>
        </ul>
    </div>

</body>